[BUG] The due date cannot be the same as the start date

Create a task where due date is the same as the start date.

Error Message: The due date cannot be before the start date.

Actually it is not before the start date, it is the same date. And this should be possible.

It would also be better if the date were only validated when the task is saved. If I want to postpone a task, it is not unusual to first modify the start date and then the due date. It would be sufficient to display the invalid date, but not to undo the entry.

Hi @roland-detterbeck , unfortunately this is a constraint from the iCalendar standard. The definition there is a bit ambiguous, while some servers might allow the due date and start date to be the same, others might refuse such entries. This would then cause troubles during the sync through DAVx5 (and definitely cause more issues than the error message right now). 

The date needs to be validated when it's set, because there's the autosave functionality. If an entry is autosaved and the dates have a problematic constellation, users might get errors from the server/DAVx5. 

So I hope you understand the reasoning why I can't change that behavior.

OK, @patrickunterwegs , but section 3.8.2.3 of RFC 5545 states that the due date must be the same as or later than the start date.

Actually the error message is right, but only if the due date is before the begin date. If you prohibit equal dates without reason, you should modify the error message.

> This property defines the date and time before which a to-do is expected to be completed.  For cases where this property is specified in a "VTODO" calendar component that also specifies a "DTSTART" property, the value type of this property MUST be the same as the "DTSTART" property, and the value of this property MUST be later in time than the value of the "DTSTART" property. Furthermore, this property MUST be specified as a date with local time if and only if the "DTSTART" property is also specified as a date with local time.

Here's the passage where it says that the due date MUST be later than the start date. 

I can adapt the error message.

You're right. The due date must be after the start date. Now I have to get used to new habits for my tasks. Unfortunately, Thunderbird in particular doesn't comply with this.

But thanks, if the error message is corrected. That bothered me the most at first ;-)